.info{
    margin-top: 16px;
    z-index: 4;
    font-size: 12px;
    display: flex;
    align-items: center;
    
    .property{
        display: flex;
        align-items: center;
        margin-right: 8px;
        padding: 1px 8px;
        background: var(--primary-color);
        font-size: 14px;
        line-height: 20px;
        color: white;
    }
    &>strong{
        text-transform: capitalize;
    }
    // &>i{

    // }
}